<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>CODEIGNITER Angular</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body ng-app="rootModule">

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 class="text-center">Cargar evaluación</h1>
            </div>
            <form novalidate name="loadForm">
                <div class="form-group">
                    <label class="control-label">Cliente</label>
                    <select class="form-control">
                        <option value="all">Todos</option>
                        <option value="1">Cliente 1</option>
                        <option value="2">Cliente 2</option>
                        <option value="3">Cliente 3</option>
                        <option value="4">Cliente 4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Periodo</label>
                    <select class="form-control">
                        <option value="">Todo</option>
                        <option value="1">Q1</option>
                        <option value="2">Q2</option>
                        <option value="3">Q3</option>
                        <option value="4">Q4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Calificación</label>
                    <input type="number"
                           class="form-control"
                           step=".05"
                           min="1" max="5">
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-info btn-file">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            Cargar <input type="file" file-bootstrap>
                        </span>
                    </span>
                        <input class="form-control" id="btn-file-text">
                    </div>
                </div>
                <button type="submit"
                        class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Aceptar
                </button>
            </form>
        </div>

        <!--<div class="col-md-12" ng-controller="D3ChartsCtrl">-->
        <!--<div ac-chart="pie"-->
        <!--class="chart"-->
        <!--data-ac-config="d3Config"-->
        <!--data-ac-data="d3Data"></div>-->
        <!--</div>-->

        <div class="col-md-6"
             ng-controller="D3ChartsCtrl">
            <bar-chart chart-data="chartData">
        </div>

        <!--<div bar-chart class="col-md-6" style="min-width: 400px; min-height: 400px;"></div>-->

        <!--<div class="col-md-5 col-md-offset-7"-->
             <!--ng-controller="D3ChartsCtrl">-->
            <!--<donut-chart ng-repeat="chart in charts"-->
                         <!--ng-style="{width: 100/charts.length + '%'}"-->
                         <!--data="chart"></donut-chart>-->
        <!--</div>-->
    </div>
</div>

<!--<div ng-controller="D3ChartsCtrl">-->
    <!--<donut-chart ng-repeat="chart in charts"-->
                 <!--ng-style="{width: 100/charts.length + '%'}"-->
                 <!--data="chart"></donut-chart>-->
<!--</div>-->

<script src="/assets/js/angular.js"></script>
<script src="/bower_components/d3/d3.js"></script>
<script src="/bower_components/angular-charts/dist/angular-charts.js"></script>
<script src="/assets/js/app/app.js"></script>
<script src="/assets/js/app/d3Charts.js"></script>
<script src="/assets/js/directives/inputFile.js"></script>
<script src="/assets/js/directives/donut-chart.js"></script>
<script src="/assets/js/directives/barChart.js"></script>
</body>